<html>
	<body>
		<link href="/static/board.css" rel="stylesheet" />
		<style>
            body{ font-family: Arial; }
		</style>
		<#if newUser>
			<div class="success">
				new user created!</b>
			</div>
		</#if>

        <#if user?? && user.isLoggedIn>
            hola, ${user.username}! <a href="/logout/">Log out</a>
        <#else>
            <a href="/login/">Log in</a> &bull; <a href="/register/">Sign up</a>
        </#if>

		<br/>
		<br/>

        <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>

		<br/>
		<a href="/game/new/">Create a new game...</a>
		<br/>
		<br/>
		<div>
			<#if allgames??>
				<#list allgames as game>
					<li><a href="/game/${game.id}/">${game.id}</a></li>
				</#list>
			</#if>
		</div>
	</body>
</html>
