 .board{
	border:1px solid black;
}
.board td{
	padding:none;
	margin:none;
	width:30px;
	height:30px;
	border: 1px solid black;
	background: #eee;
}

ul{
    list-style:none;
}

.board td.DOUBLE_LETTER{
	background: #AFEEEE url('/static/img/2L.png') no-repeat center;
}

.board td.DOUBLE_WORD{
	background: #FFC0CB url('/static/img/2W.png') no-repeat center;
}

.board td.gridCenter{
	background: #FFC0CB url('/static/img/center.png') no-repeat center;
}

.board td.TRIPLE_LETTER{
	background: #4169E1 url('/static/img/3L.png') no-repeat center;
}

.board td.TRIPLE_WORD{
	background: #FF0000 url('/static/img/3W.png') no-repeat center;
}

.board td > .tile{
	border: none;
	cursor: auto;
}

.tile{
	width:30px;
	height:28px;
	border:1px solid black;
	text-align:center;
	vertical-align: middle;
	line-height:30px;
	float:left;
	background-color:#F9FF52;
	font-weight:bold;
	cursor:pointer;
}

.dragging{
	z-index:1000;
}
.score{
	position:relative;
	top:20%;
	left: 4px;
	font-size:10px;
	font-weight:bold;
	font-family: Verdana;
}
.letter{
	position:relative;
	left: 4px;
}

.occupied{}

.blankTile{
	background-color:#fff;
}

.blankTile > .letter{
	left:2px;
}


